---
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Shelf from "../components/Shelf.astro";
import CardBordMembers from "../components/CardBordMembers.astro";
const data = await fetch("https://jtxxnipvadkmsqhjnusc.supabase.co/rest/v1/CLF-board",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0eHhuaXB2YWRrbXNxaGpudXNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTY5NDAsImV4cCI6MjAxMjA3Mjk0MH0.ddGNOSZUhfe8TyxabfTJJhNvlqIITULr31F3RvowAEA"
    },}).then((res) => res.json());

---


<MainLayout title="Om os">
    <img class="top" src="/public/imgs/top/top3.webp" alt="kunst">
    <img class="top2" src="/public/imgs/top/top3-1.webp" alt="kunst">

    <h1 class="titel">OM OS</h1>
   
    <h2>VORES VISION</h2>
    <p>Copenhagen Light Festival er en non-profit forening, som er grundlagt af Tivoli, Stromma, VNR.tv og Louis Poulsen / D Studio. Med København som kulisse søger foreningen at introducere og præsentere lyskunst i interaktion med byens særpræg, mørke og æstetik.</p>

    <Shelf title="BESTYRELSEN">
        {data.map(membersList =>{
            return <CardBordMembers membersData={membersList}/>
        })
        }
    </Shelf>

    <h2>STIFTENDE PARTNERE</h2>
    <article>
        <img src="../../tivoli.webp" alt="tivoli logo">
        <img src="../../stromma.webp" alt="stromma logo">
        <img src="../../d-studio.webp" alt="D studio logo">
        <img src="../../vnrtv.webp" alt="vnr.tv logo">
    </article>

</MainLayout>

<style> 
    article img{
            max-height: 150px;
        }

    article{
        display: flex;
    }

    p{
        width: 330px;
        margin-left: 50px;
    }

    h2{
        text-align: center;
    }

    article{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>