---
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Shelf from "../components/Shelf.astro";
import CardBordMembers from "../components/CardBordMembers.astro";
const data = await fetch("https://jtxxnipvadkmsqhjnusc.supabase.co/rest/v1/CLF-board",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0eHhuaXB2YWRrbXNxaGpudXNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTY5NDAsImV4cCI6MjAxMjA3Mjk0MH0.ddGNOSZUhfe8TyxabfTJJhNvlqIITULr31F3RvowAEA"
    },}).then((res) => res.json());

---


<MainLayout title="Om os">
    <img class="top" src="/public/imgs/top/top3.webp" alt="kunst">
    <img class="top2" src="/public/imgs/top/top3-1.webp" alt="kunst">

    <h1 class="titel">OM OS</h1>
    
    <section class="section_style">
        <h2>VORES VISION</h2>
        <div class="text">
            <p>Copenhagen Light Festival er en non-profit forening, som er grundlagt af Tivoli, Stromma, VNR.tv og Louis Poulsen / D Studio. Med København som kulisse søger foreningen at introducere og præsentere lyskunst i interaktion med byens særpræg, mørke og æstetik.</p>
        </div>
    </section>
    <section class="section_style">
        
            <Shelf title="BESTYRELSEN">
                {data.map(membersList =>{
                    return <CardBordMembers membersData={membersList}/>
                })
                }
            </Shelf>
        
    </section>
    <section class="section_style">
        <h2>STIFTENDE PARTNERE</h2>
        <article>
            <img class="founding_partners" src="../../tivoli.webp" alt="tivoli logo">
            <img class="founding_partners" src="../../stromma.webp" alt="stromma logo">
            <img class="founding_partners" src="../../d-studio.webp" alt="D studio logo">
            <img class="founding_partners" src="../../vnrtv.webp" alt="vnr.tv logo">
        </article>
    </section>
</MainLayout>

<style> 
    .founding_partners{
            max-height: 150px;
        }

    article{
        display: flex;
    }

    .text{
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    h2{
        text-align: center;
    }

    article{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .section_style{
        max-width: 1200px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
        margin-bottom: 70px;
        background-color: #181818;
        padding: 25px;
        border-radius: 10px;
    }


    @media screen and (max-width: 1250px){
        
        .section_style{
        max-width: 750px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
        margin-bottom: 70px;
        background-color: #181818;
        padding: 25px;
        border-radius: 10px;
    }

    .founding_partners{
            max-height: 125px;
        }


    }

   
    @media screen and (max-width: 800px){
        
        .section_style{
        max-width: 325px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 70px;
        margin-bottom: 70px;
        background-color: #181818;
        padding: 25px;
        border-radius: 10px;
    }

    .text{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }

    .founding_partners{
            max-height: 60px;
        }


    }

</style>