---
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Direction from "../components/Direction.astro";
import CardForside from "../components/CardForside.astro";
---

<MainLayout title="CPH Light Festival" >

   <img class="top" src="/public/imgs/top/top1.webp" alt="kunst">
   <img class="top2" src="/public/imgs/top/top1-1.webp" alt="kunst">

   <h1 class="titel">COPENHAGEN LIGHT FESTIVAL</h1>
   
<CardForside/>

<Direction>

</MainLayout>

<style>

@media (min-width: 800px) {
   .titel {
      width: 891px;
      height: 85px;
      margin-left: 330px;
   }
}
</style>