---
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import CardForside from "../components/CardForside.astro";
---

<MainLayout title="CPH Light Festival" >
   
   <img class="top" src="/public/imgs/top/top1.webp" alt="kunst">
   <img class="top2" src="/public/imgs/top/top1-1.webp" alt="kunst">
   
   <section class="styling_index">   
      <h1 class="titel">COPENHAGEN LIGHT FESTIVAL</h1>
      <h2>Februar 2023</h2>
      
      <CardForside/>
   </section>   
</MainLayout>

<style>
   @media (max-width: 900px) {
 h2{
      font-size: 25px;
      display: grid;
      place-items: center;
      margin-top: -10px;
   }

   .styling_index{
      max-width: 800px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 70px;
      margin-bottom: 70px;
   }


}
@media (min-width: 800px) {
   .titel {
      width: 891px;
      height: 85px;
   }

   h2{
      font-size: 35px;
      display: grid;
      place-items: center;
      padding-top: 20px;
   }

   .styling_index{
      max-width: 1200px;
      margin-right: auto;
      margin-left: auto;
      margin-top: 70px;
      margin-bottom: 70px;
   }

}
</style>