---
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import CardForside from "../components/CardForside.astro";
---

<MainLayout title="CPH Light Festival" >

<div>
<CardForside img = "kunst/Waves2.webp" title ="PROGRAM 2023" text="Vores program er fyldt med spændende ny lys kunst, som du og din familie kan komme og opleve i indre by i København hvor vi skaber lys og god stemning i det mørke. Vores program 2023 kan du finde nedenfor. Vi glæder os til at se jer!"/>
</div>

<div>
    <CardForside img = "kunst/Tree-Dance.webp" title ="OPEN CALL TIL COPENHAGEN LIGHT FESTIVAL" text ="Har du et lysværk, en lysinstallation eller en lysoplevelse, som du ønsker skal blive en del af Copenhagen Light Festival, kan du sende det ind under vores Open call."/>
    </div>

</MainLayout>

