---
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import DropDown from "../components/DropDown.astro";
import Carousel from "../components/Carousel.astro";
---


<MainLayout title="Tidligere festivaller">

    <img class="top" src="/public/imgs/top/top2.webp" alt="kunst">
    <img class="top2" src="/public/imgs/top/top2-1.webp" alt="kunst">

<h1 class="titel">TIDLIGERE FESTIVALER</h1>
<div class="box"> 
    <div>
        <DropDown />
    </div>
    <div> 
        <Carousel>
            
        </Carousel>
    </div>

</MainLayout>
</div>

<style>
@media (min-width: 800px) {
   .titel {
      width: 691px;
      height: 85px;
      margin-left: 420px;
      display: block;
      margin:auto;
   }
}
</style>