---
import CardProduktliste from "../components/CardProduktliste.astro";
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Category from "../components/Category.astro";
import Shelf from "../components/Shelf.astro";

const data = await fetch("https://jtxxnipvadkmsqhjnusc.supabase.co/rest/v1/CLF",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0eHhuaXB2YWRrbXNxaGpudXNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTY5NDAsImV4cCI6MjAxMjA3Mjk0MH0.ddGNOSZUhfe8TyxabfTJJhNvlqIITULr31F3RvowAEA"
    },}).then((res) => res.json());
---


<MainLayout title="Program 2023">
<img class="top" src="/public/imgs/top/top4.webp" alt="kunst">
<img class="top2" src="/public/imgs/top/top4-1.webp" alt="kunst">

    <h1 class="titel">PROGRAM 2023</h1>
<section class="styling_program_section">
    <Category/>
    <section class="grid_program_card">
        {
        data.map((produktListe) => {
            return  <CardProduktliste data={produktListe}/>;
        })
        }
    </section>
</section>
</MainLayout>


<style>
    @media (min-width: 800px){

        .styling_program_section{
            max-width: 1600px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 70px;
            margin-bottom: 70px;
        }

        .grid_program_card{
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 450px);
            gap:2rem;
            justify-content: center;
        }
    }

    @media (max-width: 900px){
        .styling_program_section{
            max-width: 800px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 70px;
            margin-bottom: 70px;
        }

        .grid_program_card{
            margin-top: 70px;
            display: grid;
            grid-template-columns: repeat(auto-fill, 450px);
            gap:2rem;
            justify-content: center;
        }
    }

</style>


