---
import CardProduktliste from "../components/CardProduktliste.astro";
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
const data = await fetch("https://jtxxnipvadkmsqhjnusc.supabase.co/rest/v1/CLF",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0eHhuaXB2YWRrbXNxaGpudXNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTY5NDAsImV4cCI6MjAxMjA3Mjk0MH0.ddGNOSZUhfe8TyxabfTJJhNvlqIITULr31F3RvowAEA"
    },}).then((res) => res.json());
---


<MainLayout title="Program 2023">
    <h1>PROGRAM 2024</h1>

    <section class="programListe">
        {
        data.map((produktListe) => {
            return  <CardProduktliste data={produktListe}/>;
        })
        }
    </section>
</MainLayout>

<style>
    @media (min-width: 800px){
        h1{
        background: linear-gradient(270deg, #4EB3B6 6.33%, #438CBF 26.62%, #8A63E8 50.54%, #C55790 75.5%, #F54D48 92.66%);
        width: 591px;
        height: 85px;
        color: #FFF;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 70px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 430px;
        margin-bottom: -30px;
    }
    .programListe{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        margin-left: 30px;
        padding: 100px;
        margin-top: 20px;
        }
    }

    @media (max-width: 800px){
        h1{
        background: linear-gradient(270deg, #4EB3B6 6.33%, #438CBF 26.62%, #8A63E8 50.54%, #C55790 75.5%, #F54D48 92.66%);
        width: 260px;
        padding: 10px;
        color: #FFF;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-left: 80px;
        margin-bottom: 30px;
    }
        .programListe{
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        margin: 1rem;
        }
    }

</style>


