---
import CardProduktliste from "../components/CardProduktliste.astro";
import "../css/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Category from "../components/Category.astro";

const data = await fetch("https://jtxxnipvadkmsqhjnusc.supabase.co/rest/v1/CLF",
{
    method: "GET",
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imp0eHhuaXB2YWRrbXNxaGpudXNjIiwicm9sZSI6ImFub24iLCJpYXQiOjE2OTY0OTY5NDAsImV4cCI6MjAxMjA3Mjk0MH0.ddGNOSZUhfe8TyxabfTJJhNvlqIITULr31F3RvowAEA"
    },}).then((res) => res.json());
---


<MainLayout title="Program 2023">
<img class="top" src="/public/imgs/top/top4.webp" alt="kunst">
<img class="top2" src="/public/imgs/top/top4-1.webp" alt="kunst">

    <h1 class="titel">PROGRAM 2023</h1>

<Category/>

    <section class="programListe">
        {
        data.map((produktListe) => {
            return  <CardProduktliste data={produktListe}/>;
        })
        }
    </section>
</MainLayout>


<style>
    @media (min-width: 800px){
    .programListe{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin-left: -3.8rem;
        padding: 100px;
        margin-top: 20px;
        }

    
    }

    @media (max-width: 800px){
        .programListe{
        display: grid;
        grid-template-columns:1fr 1fr;
        margin: 1rem;
        }
    }

</style>


