---
const {text, href, } = Astro.props;
---
<a class="box button" href={href}>{text}</a>


<style>
       .button{
        justify-content: center;
        align-items: center;
        padding: 13px 43px;
        text-decoration: none;
        background-color: #D9D9D9;
        border-radius: 25px;
        font-size: 16px;
        color: #252525;  
        z-index: 2;
        width: 150px;
        height: 45px;
    
    
    }
    .box {
        position: relative;
        width: 100px;
        height: 30px;
        cursor: pointer;
    }
    .box::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 25px; 
        padding: 2px; 
        background:linear-gradient(90deg,#F54D48,#C55790,#8A63E8,#438CBF,#4EB3B6); 
       -webkit-mask: /*webkit gør at der kan være indhold i .box og at der kan ses via contect-box og ved mask composite*/ 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
            mask-composite: exclude;
    }
    .button:hover{
        background-color: #252525;
        color: #D9D9D9; 
        scale:1.08;
    }
   @media (max-width: 800px){
    .button, .box{
        padding: 13px 30px;
        font-size: 14px;
        text-decoration: none;
        display: none;
    }
   }
</style>