---
const {img, title, text} = Astro.props;
---


<article>   
    <div> 
        <img src={img}> 
    </div>

  <div class="text">
        <h2>{title}</h2>
    <p>{text}</p>
    </div>
</article>

<style>

img {
 width: 181.5%;
 margin-left: 5rem;
}    

article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin: 5rem;
    place-items: center;

      box-sizing: border-box; 
      border-radius: 10px;
      background: #181818;
      height: 343px;
      width: 850px;
      flex-shrink: 0;
}


.text {
    margin-top: -2rem;
    margin-left: 4rem;
    line-height: 1.5rem;
    font-size: 14px;
}

article:nth-child(odd) .text {
    order: -1;
}

</style>