---
import "../css/style.css";
const {data} = Astro.props;
---

<a href={`produktliste/${data.slug}`}>
<article>
    <img src={data.imgArtist}/>

    <div class="box">
        <h1>{data.titel}</h1>
        <div class="button box2">Læs mere</div>
    </div>
</article> 
</a>

<style>
   @media (min-width: 800px){

    .button{
          justify-content: center;
          align-items: center;
          padding: 13px 43px;
          text-decoration: none;
          background-color: #D9D9D9;
          border-radius: 25px;
          font-size: 16px;
          color: #252525;  
          z-index: 2;
          width: 150px;
          height: 45px;
          margin-left: 110px;
          margin-bottom: 10px;
      }


      .box2 {
          position: relative;
          width: 150px;
          height: 45px;
          cursor: pointer;
      }
      .box2::before {
          content: "";
          position: absolute;
          inset: 0;
          border-radius: 25px; 
          padding: 2px; 
          background:linear-gradient(90deg,#F54D48,#C55790,#8A63E8,#438CBF,#4EB3B6); 
         -webkit-mask: /*webkit gør at der kan være indhold i .box og at der kan ses via contect-box og ved mask composite*/ 
              linear-gradient(#fff 0 0) content-box, 
              linear-gradient(#fff 0 0);
              mask-composite: exclude;
      }

      .button:hover{
          background-color: #252525;
          color: #D9D9D9; 
          scale:1.08;
      }
      


    article{
        width: 369px;
        margin-top: 60px;
    }
    .box{
        border: 0.5px solid #181818;
        background: #181818;
        margin-top: -10px;
        padding-bottom: 20px;
    }

    h1{
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    a{
        padding: 13px 43px;
        text-decoration: none;}

    img{
        max-width: 100%;
        border: 0.5px solid #181818;
        }
}
    @media (max-width: 800px){
        article{
        width: 200px;
        margin-top: 20px;
        padding: 0px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .box{
        border: 0.5px solid #181818;
        background: #181818;
        height: 100px;
        margin-top: -10px;
    }
    .button {
        border-radius: 20px;
        background: linear-gradient(270deg, #4EB3B6 -21.53%, #438CBF 21.38%, #8A63E8 52.97%, #C55790 86.86%, #F54D48 116.37%);
        padding: 5px;
        justify-content: center;
        margin-left: 40px;
        margin-top: -1rem;
        text-decoration: none;
        font-size: 15px;
        font-style: normal;
        width: 100px;
        height: 40px;
 
    }

    h1{
        color: white;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 20px;
    }
    }

</style>