---
const {img, title, text} = Astro.props;
---


<article>   
    <div> 
        <img src={img}> 
    </div>

  <div class="text">
        <h2>{title}</h2>
        <p>{text}</p>
    </div>
</article>


<style>



article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    margin: 5rem;
    place-items: center;

      box-sizing: border-box; 
      border-radius: 10px;
      background: #181818;
      height: 380px;
      width: 800px;
      flex-shrink: 0;
}

img {
 width: 180%;
 height: 379px;
 margin-left: 5rem;
}    
.text {
    margin-top: -2rem;
    margin-left: 3.5rem;
    line-height: 1.5rem;
    font-size: 14px;
}

article:nth-child(odd) .text {
    order: -1;
}

</style>