---
const {membersData} = Astro.props

---


<article>
    <img src={membersData.imgBoard}>
    <h2>{membersData.boardName}</h2>
    <p>{membersData.boardTitle}</p>
</article>





<style>
   
</style>