---
const {membersData} = Astro.props

---


<article>
    <img src={membersData.imgBoard}>
    <section>
        <h2>{membersData.boardName}</h2>
        <p>{membersData.boardTitle}</p>
    </section>
</article>





<style>
   article{
        display: flex;
        flex-direction: column;  
   }

   section{
        display: flex;
        flex-direction: column;
        align-items: center;
   }
</style>