---
---
<!--https://www.youtube.com/watch?v=VQWu4e6agPc&t=40s -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="dropdown">
    <button class="box"> ÅR
        <span></span>
         <i class="fa fa-angle-down"></i>
    </button> 
    <div class="content">
        <a href="">2023</a>
        <a href="">2022</a>
        <a href="">2021</a>
        <a href="">2020</a>
        <a href="">2019</a>
        <a href="">2018</a>
    </div>
</div>

<style>
    i{
        font-size: 1.2rem;
    }
    .dropdown{
        display:inline-block;
    }
    .dropdown button{
        background-color: #D9D9D9;
        color: #252525;
        padding: 13px 30px;
        border-radius: 8px;
        cursor: pointer;
        display: flex;
        text-decoration: none;
        font-size: 14px;
        z-index: 2;
        
    }
    .box{
        position: relative;
        width: 120px;
        height: 43px;
        cursor: pointer;
    }
    button span{
        padding-left: 33px;
    }

    .dropdown a{
        display: block;
        color: #252525;
        text-decoration: none;
        padding: 13px 34px 13px 24px;
        border-radius: 8px;

    }

    .dropdown .content{
        display:none;
        position: absolute;
        background-color: #D9D9D9;
        min-width: 120px;
        border-radius: 8px;
    }
     button::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px; 
        padding: 2px; 
        background:linear-gradient(90deg,#F54D48,#C55790,#8A63E8,#438CBF,#4EB3B6); 
       -webkit-mask: /*webkit gør at der kan være indhold i .box og at der kan ses via contect-box og ved mask composite*/ 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
            mask-composite: exclude;
    }
    
    
    .dropdown:hover .content{
        display: block;
    }

    .dropdown:hover button{
        background-color: #252525;
        color: #D9D9D9;
    }
    .dropdown a:hover{
        background-color: #252525;
        color: #D9D9D9;
    }
    .dropdown a:hover::before{
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px; 
        padding: 2px; 
        background:linear-gradient(90deg,#F54D48,#C55790,#8A63E8,#438CBF,#4EB3B6); 
       -webkit-mask: /*webkit gør at der kan være indhold i .box og at der kan ses via contect-box og ved mask composite*/ 
            linear-gradient(#fff 0 0) content-box, 
            linear-gradient(#fff 0 0);
            mask-composite: exclude;
    }
 
</style>