---
import "../css/style.css";
---

<article>
    <img src="../../mail.png" alt="Email icon">
    <p>info@copenhagenlightfestival.org</p>
</article>


<style>

article{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    img{
        max-height: 23px;
    }

</style>