---
import "../css/style.css";
import Nav from "./Nav.astro";
---

<article>
   <a href="/index"> <img src="../../clf_logo.webp" alt="Copenhagen light festival logo"></a>
    <Nav/>
</article>


<style>

    article{
        display: flex;
        background-color: #181818;
        padding: 10px;
        justify-content:space-evenly;
        gap: 40%;
        align-items: center;
    }
    img{
        max-height: 50px;
    }

    @media screen and (max-width: 800px){
        
    }

</style>