---
import "../css/style.css";
import BurgerMenu from "./BurgerMenu.astro";
---

<nav>
    <a class="nav_link" href="/program">PROGRAM</a>
    <a class="nav_link" href="/past">TIDLIGERE FESTIVALER</a>
    <a class="nav_link" href="/about_us">OM OS</a>
</nav>

<article>
    <BurgerMenu/>
</article>

<style>

    nav{
        display: flex;
        gap: 100px;
    }
    a{
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    }

    article{
        display: none;
        cursor: pointer;
    }

    @media screen and (max-width: 800px){
        nav{
            display: none;
        }

        article{
            display: block;
        }
    }

</style>