---
import "../css/style.css";
import BurgerMenu from "./BurgerMenu.astro";
---

<nav>
    <a href="/program">PROGRAM</a>
    <a href="/past">TIDLIGERE FESTIVALER</a>
    <a href="/about_us">OM OS</a>
</nav>

<div class="burger_menu">
    <BurgerMenu/>
</div>

<style>

    nav{
        display: flex;
        gap: 100px;
    }
    a{
        text-decoration: none;
    }

    .burger_menu{
        display: none;
    }

    @media screen and (max-width: 800px){
        nav{
            display: none;
        }

        .burger_menu{
            display: flex;
        }

    }

</style>