---
import "../css/style.css";
---

<nav>
    <a href="/program">PROGRAM</a>
    <a href="/past">TIDLIGERE FESTIVALER</a>
    <a href="/about_us">OM OS</a>
</nav>

<style>

    nav{
        display: flex;
        gap: 100px;
    }
    a{
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a:active {
        text-decoration: underline;
    }

</style>