---
import "../css/style.css";
---

<article>
    <img src="../../phone-call.png" alt="Telefon nummer icon">
    <p>+45 25556604</p>
</article>


<style>

article{
        display: flex;
        gap: 10px;
        align-items: center;
    }

    img{
        max-height: 25px;
    }

</style>