* {
  box-sizing: border-box;
}

main {
  background-image: url(/public/Stjerner.png);
}

h1,
h2,
h3,
h4,
.nav_link {
  color: #ffffff;
}

p {
  color: #d9d9d9;
}

@media (min-width: 800px) {
  .top {
    max-width: 100%;
  }

  .top2 {
    display: none;
  }
}

@media (max-width: 800px) {
  .top {
    display: none;
    max-width: 100%;
  }

  .top2 {
    width: 410px;
    height: 194px;
  }
}
