---
import "../css/style.css";
const {title} = Astro.props;
import Header from "../components/Header.astro";
import BurgerDropDown from "../components/BurgerDropDown.astro";
import Banner from "../components/Banner.astro";
import FoundersIFooter from "../components/FoundersIFooter.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/CPH_LF_Logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
            <Header/>
            <BurgerDropDown/>
            <Banner/>
        </header>
        <main>
			<slot />
		</main>
        <footer>
            <img class="img_footer_by" src="../../footer_by.svg" alt="">
            {title=="CPH Light Festival"&&<FoundersIFooter/>}
            <Footer/>
        </footer>
	</body>
</html>

<style>
    body{
        margin: 0;
        padding: 0;
        background: rgb(6,13,19);
        background: linear-gradient(180deg, rgba(6,13,19,1) 8%, rgba(7,26,40,1) 32%, rgba(16,58,83,1) 66%, rgba(26,109,150,1) 83%, rgba(91,166,198,1) 93%);
    }

    .img_footer_by{
        width: 100%;
        margin-bottom: -5px;
    }

    main{
        margin-top: 125px;
    }

    @media screen and (max-width: 800px){
        main{
        margin-top: 140px;
        }
        main.active{
            margin-top: 73px;
        }

    }

</style>

<script src="../scripts/java.js"></script>