---
import "../css/style.css";
const {title} = Astro.props;
import Header from "../components/Header.astro";
import Banner from "../components/Banner.astro";
import FoundersIFooter from "../components/FoundersIFooter.astro";
import Footer from "../components/Footer.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<header>
            <Header/>
            <Banner/>
        </header>
        <main>
			<slot />
		</main>
        <footer>
            <img src="../../footer_by.svg" alt="">
            <FoundersIFooter/>
            <Footer/>
        </footer>
	</body>
</html>

<style>
    body{
        margin: 0;
        padding: 0;
        background: rgb(6,13,19);
        background: linear-gradient(180deg, rgba(6,13,19,1) 26%, rgba(7,26,40,1) 56%, rgba(16,58,83,1) 84%, rgba(26,109,150,1) 96%, rgba(91,166,198,1) 100%);
    }

    
</style>